<div id="myCarousel" class="carousel slide" data-bs-ride="true">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://images.unsplash.com/photo-1591196702597-062a87208fed?ixlib=rb-4.0.3&ixid=MnwxM[…]G90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" style="" class="d-block w-100 h-100" alt="...">
      <div class="container-jt">
        <h1 class="products-types">Get to know the games availables</h1>
        <p> The best products are right here. Click on the buttom bellow so you can find out what is available.</p>
        <%= link_to 'Shop Now!', console_page_path(params[:type] = 'Games'), class:"btn btn-lg btn-outline-secondary index" %>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://images.unsplash.com/photo-1617096199821-6273169505cf?ixlib=rb-4.0.3&ixid=MnwxM[…]G90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" class="d-block w-100 h-100" alt="...">
      <div class="container-jt">
        <h1 class="products-types">Need a new Console?</h1>
        <p> We have! With the best price of the internet! Interested? Click in the button below! </p>
        <%= link_to 'Shop Now!', console_page_path(params[:type] = 'Console'), class:"btn btn-lg btn-outline-secondary index" %>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://images.unsplash.com/photo-1544484647-725cbadff6cc?ixlib=rb-4.0.3&ixid=MnwxMjA3[…]G90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" class="d-block w-100 h-100" alt="...">
      <div class="container-jt">
        <h1 class="products-types">Is your setup dull?</h1>
        <p> We have several accessories available for your setup to fly!.</p>
        <%= link_to 'Shop Now!', console_page_path(params[:type] = 'Accessories'), class:"btn btn-lg btn-outline-secondary index" %>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<br>
<br>
<div class="jt">
  <div class= "home_title">
    <i class="fa-solid fa-bars"></i>
    <h1>Departments</h1>
  </div>
</div>
<br>
<br>
<div class="jt">
  <div class="wrapper">
    <div class="card">
      <img src="https://d3alv7ekdacjys.cloudfront.net/Custom/Content/Products/11/93/1193640_console-playstation-4-com-controle-e-jogo-god-of-war-ragnarok_m13_638121610098876774.jpg" alt="controle jogo e ps4">
      <div class="info">
        <h1 class="products-types">All</h1>
        <p></p>
        <%= link_to 'Look up', console_page_path(params[:type] = 'All'), class:"btn" %>
      </div>
    </div>
    <div class="card">
      <img src="https://images.unsplash.com/photo-1656789683996-602a5d669e82?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8Z2FtZSUyMGNvbnNvbGV8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" alt="controle jogo e ps4">
      <div class="info">
        <h1 class="products-types">Consoles</h1>
        <p></p>
        <%= link_to 'Look up', console_page_path(params[:type] = 'Console'), class:"btn" %>
      </div>
    </div>
    <div class="card">
      <img src="https://images.unsplash.com/photo-1656787346248-36bb5ed8f9e5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80" alt="controle jogo e ps4">
      <div class="info">
        <h1 class="products-types">Games</h1>
        <p></p>
        <%= link_to 'Look up', console_page_path(params[:type] = 'Games'), class:"btn" %>
      </div>
    </div>
    <div class="card">
      <img src="https://images.unsplash.com/photo-1592840496694-26d035b52b48?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8Z2FtZSUyMGNvbnRyb2xsZXJ8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" alt="controle jogo e ps4">
      <div class="info">
        <h1 class="products-types">Accessories</h1>
        <p></p>
        <%= link_to 'Look up', console_page_path(params[:type] = 'Accessories'), class:"btn" %>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
