<div class="form-lg">
  <%= simple_form_for(product) do |f| %>
    <%= f.input :name %>
    <%= f.input :details %>
    <%= f.input :price %>
    <%= f.input :console, :collection => %w[Console Games Accessories], label: "Type of Product:"%>
    <%= f.input :product_url, as: :file, input_html: { multiple: true } %>
    <div class="button-submit"><%= f.submit %></div>
  <% end %>
</div>
