<div class="luiz-css">
  <div class="card card-lg card-body rounded-0">
    <% if params[:type] == "Games" %>
      <h1 class="container text-center type-title mt-3">Games</h1>
    <% elsif params[:type] == "Console" %>
      <h1 class="container text-center type-title mt-3">Consoles</h1>
    <% else %>
      <h1 class="container text-center type-title mt-3">Acessories</h1>
    <% end %>
    <div class="card-lg-body">
      <% @products.each do |product| %>
        <div class="a-delete">
        </div>
        <%= link_to product_path(product) do %>
          <div class="card-lg-2 m-4">
            <div class="imgBox">
              <%= cl_image_tag product.product_url[0].key, class: "img-product", crop: :fill%>
            </div>
            <div class="contentBox text-center">
              <h2><%= product.name %></h2>
              <h3 class="price"> US$<%= product.price %> </h3>
              <%= link_to "See More", product_path(product), class: 'buy' %>
            </div>
          </div>
          <br>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
