<div class="card-lg-body-show-products">
  <div class="container">
    <h1 class="product-name text-center mt-2"> <%= @product.name %> </h1>
    <div class ="row">
      <div class="col-6">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner rounded-5">
            <% @product.product_url.each do |image| %>
              <div class="carousel-item active">
                <%= cl_image_tag(image.key, crop: :fill, class:'d-block w-100 h-100 rounded-5') %>
                <br>
              </div>
            <% end %>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      <div class="col-6 my-flex">
        <br>
        <div class="details text-center">
          <h1>Product Details</h1>
          <h3><%= @product.details %></h3>
        </div>
        <br>
        <div class="type text-center">
          <h1>Type</h1>
          <h3><%= @product.console %></h3>
        </div>
        <br>
        <div class="price text-center">
          <h1>Price</h1>
          <h3>US$<%= @product.price %></h3>
        </div>
      </div>
    </div>
  </div>
</div>
<%# <%= @product.users_id %>
<!-- User é o usuario dono do produto. -->
<%# <%= @user.name %>
<%# Isso aqui é para ocultar as coisas de quem não for o dono do produto
 %><%# <% if policy(@product).edit? %>
<%# <%= link_to "Delete", delete_path(@product), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
<%# <%= link_to "Edit this product", edit_product_path(@product) %>
<%# <% end %>
<!-- [...] -->
